/*
 * Name: Shefali Gupta
 * Date: May 20, 2021
 * Section: CSE 154 AL
 * This is the CSS page for the page that gives information about top 4 lipsticks of covergirl
 * It helps to style the page
 * It sets the background color, sets the color of the text and aligns the heading
 */
body {
  background-color: darkmagenta;
}

body > p {
  color: white;
  font-size: medium;
}

#h {
  display: flex;
  justify-content: center;
  font-size: larger;
}